.formbox{
    border:1px solid black;
    margin:auto;
    background-color: #FFFBD0;
}

.flex1{
    padding: 5px;
    gap:15px;
    margin-top:30px;
}

.flex2{
align-items:center;
gap:7px
}

.icons{
    font-size: 30px;
    color: red;
}
.Text1{
    font-size:x-large;
    font-weight: 500;
}
.button{
    margin-top:50px;
    margin-left:15%;
    width:70%;
    background-color:gray.300;
     font-size:x-large
}
.input1{
border:1px solid gray ;
border-radius:none;
text-align: center;
}